<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CRUD de cadastro </title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h2> Informações do usuário </h2>
    <hr>
    <table class="tabela"> 
        <td> Nome: </td>
        <td> Email: </td>
        <td> Idade: </td>

        <tr>
            <th> <%=users.nome%> </th>
            <th> <%=users.email%> </th>
            <th> <%=users.idade%> </th>

        </tr>
    </table>
    <br><br>
    <a href="/"> <button class="btnMenu"> << </button></a>
</body>
</html>